<<<<<<< HEAD
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.wrapper{
  max-width: 1200px;
  margin: auto;
}

.link-arrow{
  font-size: 25px;
  vertical-align: -8%;
}

.btn{
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #333;
  padding: 10px 30px;
  border-radius: 50px;
  color: #333;
  font-weight: 600;
  transition: .3s;
  background: #edebf0;
  &:hover{
    color: #fff;
    background: #333;
  }
  @media (max-width: 600px){
    padding: 5px 15px;
    margin-bottom: 10px;
  }
}

p{
  color: #333;
  margin: 10px 0;
  font-size: 16px;
  line-height: 22px;
}

a{
  font-weight: 500;
  color: #333;
  text-decoration: none;
  &:hover{
      color: #2666bf;
  }
}

.section-title{
  margin: 25px 20px;
  text-align: center;
  img{
    height: 50px;
  }
  h2{
    display: inline-block;
    margin: 10px 0 0 18px;
    font-size: 30px;
    font-weight: 400;
    vertical-align: top;
    @media (max-width: 600px){
      font-size: 24px;
    }
  }
=======
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.wrapper{
  max-width: 1200px;
  margin: auto;
}

.link-arrow{
  font-size: 25px;
  vertical-align: -8%;
}

.btn{
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #333;
  padding: 10px 30px;
  border-radius: 50px;
  color: #333;
  font-weight: 600;
  transition: .3s;
  background: #edebf0;
  &:hover{
    color: #fff;
    background: #333;
  }
  @media (max-width: 600px){
    padding: 5px 15px;
    margin-bottom: 10px;
  }
}

p{
  color: #333;
  margin: 10px 0;
  font-size: 16px;
  line-height: 22px;
}

a{
  font-weight: 500;
  color: #333;
  text-decoration: none;
  &:hover{
      color: #2666bf;
  }
}

.section-title{
  margin: 25px 20px;
  text-align: center;
  img{
    height: 50px;
  }
  h2{
    display: inline-block;
    margin: 10px 0 0 18px;
    font-size: 30px;
    font-weight: 400;
    vertical-align: top;
    @media (max-width: 600px){
      font-size: 24px;
    }
  }
>>>>>>> 7d3b3f341513ca2ed15afc21484e192c7f15c285
}