$mainBlue: #2f5572;
$mainOrange: #d59541;
$headerBackground: rgba(251,251,251,0.9);
$white: #fff;
$outlineColor: #ddd;
$textColor: #333;
$linkColorHover: #2666bf;
$ctaHoverColor: rgba(51,51,51,0.6);
$textHighlighter: #0000ff;
$bannerText: #49541c;
$black: #000;
$borderGreyColor: #959595;
$greyBackground: #cfcfcf;
$homeCTAbackground: #edebf0;
$lightGreyBackground: #f4f5f7