.ancient-stories-container{
    margin-bottom: 40px;
    .ancient-stories{
        display: flex;
        justify-content: space-around;
        margin-bottom: 35px;
        .story-item{
            max-width: 540px;
            border: 1px solid;
            border-radius: 5px; 
            .story-item-description{
                padding: 0 30px 15px;
                h3{
                    margin: 20px 0;
                    font-size: 24px;
                    font-weight: 400;
                }
                p{
                    text-decoration: none;
                    color: $textColor;
                }
            }
        }
    }
    .more-stories-cta{
        text-align: center;
    }
}