.updates-container {
    .update-carousel {
        border: 2px solid $borderGreyColor;
        background: $lightGreyBackground;
        margin-top: 30px;
        border-radius: 10px;
        text-align: center;
        @media (max-width: 991px){
            margin-top: 10px;
        }
        .updates-carousel-container {
            position: relative;
            .updates-carousel-item {
                background: $white;
                text-align: left;
                margin: 25px 100px 60px 100px;
                border-radius: 4px;
                min-height: 250px;
                position: relative;
                display: none;
                @media (max-width: 991px){
                    margin-left: 70px;
                    margin-right: 70px;
                    margin-bottom: 45px;
                }
                img {
                    width: 50%;
                    vertical-align: bottom;
                    border-radius: 4px 0 0 4px;
                    max-height: 280px;
                    @media (max-width: 991px){
                        width: 100%;
                    }
                }
                .updates-container {
                    width: 45%;
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 25px;
                    @media (max-width: 991px){
                        width: 85%;
                    }
                    h3 {
                        font-size: 24px;
                        font-weight: 400;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        a {
                            display: inline-block;
                            margin-top: 20px;
                        }
                    }
                }
                &.is-visible{
                    display: block;
                }
            }
            .prev, .next{
                position: absolute;
                color: $textColor;
                text-decoration: none;
                top: 50%;
                font-size: 50px;
                font-weight: 400;
                transform: translateY(-50%);
                transition: .3s;
                cursor: pointer;
                &:hover{
                    font-size: 70px;
                }
                @media (max-width: 991px){
                    font-size: 70px;
                }
            }
            .prev{
                left: 35px;
                @media (max-width: 991px){
                    left: 20px;
                }
            }
            .next{
                right: 30px;
                @media (max-width: 991px){
                    right: 20px;
                }
            }
        }

        .updates-container .update-carousel .updates-carousel-container:hover:before {
            left: -7%;
        }
    }
}